@charset 'UTF-8';
//____________________________
// カラーコード
//____________________________
$suumo_primary: #0c0033;
$lightgray_white: #c0c2c6;
$yellow: #db8c28;

/** --------------------------------
* グラデーション
*/

@mixin suumo_grd {
	background-color: $suumo_primary;
	background-image: linear-gradient(135deg, $suumo_primary 0%, #9599e2 50%, #8bc6ec 100%);
}
