@charset "UTF-8";
/** --------------------------------
* 引数で指定した色の明るさに応じて白か黒を出力する関数
*
* @param $color カラーコード
*/
/** --------------------------------
* cssの値を単位を除いて数字だけにしてくれる関数
*
* @param 数字と単位を含む値 10ox, 3remなど
*/
/** --------------------------------
* 値の「単位」を取得する関数
*
* @param $value 数字と単位を含む値 10ox, 3remなど
*/
/** --------------------------------
* pxやremをvwに変換してくれる関数
*
* @param $viewport pcデザインの横幅
* @param $fontSize フォントサイズ(pxでもremでも)
*/
/** --------------------------------
* フォントサイズをレスポンシブで調整する関数
*
* @param $pc pcのフォントサイズ
* @param $sp spのフォントサイズ
*/
/** --------------------------------
* 画像の縦横比を指定する関数  figureタグに付与
*
* @param $height 横幅100の時の縦の割合 *「%」で指定
*/
button {
  display: block;
}

a {
  text-decoration: underline;
}

.pageSuumo__button {
  display: inline-block;
  width: 100%;
  max-width: 32rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  background-color: #0c0033;
  -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 0.4rem;
}
@media only screen and (max-width:768px) {
  .pageSuumo__button {
    font-size: 1.4rem;
  }
}

.hamburger_wrap .hamburger {
  background-color: #0c0033;
}

.modalWrap .modal__targetContent {
  display: none;
  width: min(48rem, 90vw);
  padding: 1.6rem;
  margin: 0 auto;
  background-color: #ffffff;
}
.modalWrap .modal__targetContent[data-target-modal=suumo__form] {
  width: min(48rem, 90vw);
  margin: 0 auto;
  background-color: #ffffff;
}
.modalWrap .modal__targetContent[data-target-modal=suumotable__swiper] {
  max-width: 80rem;
  margin: auto;
}
.modalWrap .modal__targetContent[data-target-modal=suumotable__swiper] .suumotable__swiperWrap {
  max-width: 100%;
}
@media only screen and (max-width:768px) {
  .modalWrap .modal__targetContent[data-target-modal=suumotable__swiper] .suumotable__swiperWrap {
    max-width: 100%;
  }
}
.modalWrap .modal__targetContent[data-target-modal=suumotable__swiper] .suumotable__swiperWrap .suumotable__swiperMagnifiy {
  display: none;
}
.modalWrap .modal__targetContent[data-target-modal=suumotable__swiper] .suumotable__swiperWrap .swiper-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.modalWrap .modal__targetContent[data-target-modal=suumotable__swiper] .suumotable__swiperWrap .suumotable__swiperFigure {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}
@media only screen and (max-width:768px) {
  .modalWrap .modal__targetContent[data-target-modal=suumotable__swiper] .suumotable__swiperWrap .suumotable__swiperFigure {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }
}
.modalWrap .modal__targetContent[data-target-modal=suumotable__swiper] .suumotable__swiperWrap .suumotable__swiperButton::before {
  font-size: 3.2rem;
}
@media only screen and (max-width:768px) {
  .modalWrap .modal__targetContent[data-target-modal=suumotable__swiper] .suumotable__swiperWrap .suumotable__swiperButton::before {
    font-size: 1.8rem;
  }
}

.suumotable__swiperWrap {
  position: relative;
  max-width: 20rem;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.suumotable__swiperWrap:hover .suumotable__swiperMagnifiy {
  opacity: 0.8;
}
@media only screen and (max-width:768px) {
  .suumotable__swiperWrap {
    max-width: 10rem;
  }
}
.suumotable__swiperWrap .suumotable__swiperMagnifiy {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  z-index: 10;
  width: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0;
}
@media only screen and (max-width:768px) {
  .suumotable__swiperWrap .suumotable__swiperMagnifiy {
    bottom: 0;
    width: 2rem;
    opacity: 0.8;
  }
}
.suumotable__swiperWrap .suumotable__swiperMagnifiy:hover {
  opacity: 1;
}
.suumotable__swiperWrap .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.suumotable__swiperWrap .suumotable__swiperFigure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(20rem - 4rem);
  height: calc(20rem - 4rem);
}
@media only screen and (max-width:768px) {
  .suumotable__swiperWrap .suumotable__swiperFigure {
    width: calc(10rem - 2rem);
    height: calc(10rem - 2rem);
  }
}
.suumotable__swiperWrap .suumotable__swiperFigure > img {
  max-width: 100%;
  max-height: 100%;
}
.suumotable__swiperWrap .suumotable__swiperButton {
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.suumotable__swiperWrap .suumotable__swiperButton::before {
  display: inline-block;
  color: #0c0033;
  content: "◀︎";
}
.suumotable__swiperWrap .suumotable__swiperButton.swiper-button-next {
  right: 0;
  left: auto;
}
.suumotable__swiperWrap .suumotable__swiperButton.swiper-button-next::before {
  content: "▶︎";
}

.pixelartColorsContainer .pixelartColors__text {
  margin-bottom: 1.6rem;
  font-weight: 600;
  text-align: center;
}
.pixelartColorsContainer .pixelartColors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  gap: 1.6rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.6rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width:768px) {
  .pixelartColorsContainer .pixelartColors {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 0;
  }
}
.pixelartColorsContainer .pixelartColor__input {
  position: absolute;
  opacity: 0;
}
.pixelartColorsContainer .pixelartColor__label {
  position: relative;
  width: 25%;
  height: 4rem;
  border: 0.3rem solid #f9f9fa;
  border-radius: 0.4rem;
}
@media only screen and (max-width:768px) {
  .pixelartColorsContainer .pixelartColor__label {
    width: 48%;
  }
}
.pixelartColorsContainer .pixelartColor__label::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  color: #f9f9fa;
  font-weight: 600;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.pixelartColorsContainer .pixelartColor__input:checked + .pixelartColor__label {
  border: 0.3rem solid #70dff3;
}
.pixelartColorsContainer .pixelartColor__input:checked + .pixelartColor__label::after {
  content: "選択中";
}

.pixelartTableContainer {
  max-width: 100%;
  padding: 4rem;
  overflow: scroll;
  background-color: #0e1117;
}
.pixelartTableContainer .pixelartTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 0.4rem;
}
.pixelartTableContainer .pixelartTable__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
}
.pixelartTableContainer .pixelartTable__cell {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #dfe2e9;
  border-radius: 0.4rem;
}
.pixelartTableContainer .pixelartTable__cell:hover {
  -webkit-box-shadow: 0 0 0.4rem rgba(211, 215, 227, 0.4);
          box-shadow: 0 0 0.4rem rgba(211, 215, 227, 0.4);
  cursor: pointer;
}
.pixelartTableContainer .pixelartTable__cell:hover .pixelartTable__cellDate {
  display: block !important;
}
.pixelartTableContainer .pixelartTable__cell[data-contribution-count="0"] {
  background-color: #161b22;
}
.pixelartTableContainer .pixelartTable__cell[data-contribution-count="1"] {
  background-color: #0d4429;
}
.pixelartTableContainer .pixelartTable__cell[data-contribution-count="2"] {
  background-color: #016d31;
}
.pixelartTableContainer .pixelartTable__cell[data-contribution-count="3"] {
  background-color: #26a641;
}
.pixelartTableContainer .pixelartTable__cell[data-contribution-count="4"] {
  background-color: #39d353;
}
.pixelartTableContainer .pixelartTable__cell.-hidden {
  opacity: 0;
  pointer-events: none;
}
.pixelartTableContainer .pixelartTable__cellDate {
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 10;
  display: none;
  max-width: 10rem;
  padding: 0.4rem;
  background-color: #f9f9fa;
  border-radius: 0.4rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: none;
}

.pagePixelart .pagePixelart__buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 2.4rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8rem;
}
.pagePixelart .pixelart__currentDate {
  height: 2em;
}
.pagePixelart textarea {
  width: 100%;
}