@charset "UTF-8";
/** --------------------------------
* 引数で指定した色の明るさに応じて白か黒を出力する関数
*
* @param $color カラーコード
*/
/** --------------------------------
* cssの値を単位を除いて数字だけにしてくれる関数
*
* @param 数字と単位を含む値 10ox, 3remなど
*/
/** --------------------------------
* 値の「単位」を取得する関数
*
* @param $value 数字と単位を含む値 10ox, 3remなど
*/
/** --------------------------------
* pxやremをvwに変換してくれる関数
*
* @param $viewport pcデザインの横幅
* @param $fontSize フォントサイズ(pxでもremでも)
*/
/** --------------------------------
* フォントサイズをレスポンシブで調整する関数
*
* @param $pc pcのフォントサイズ
* @param $sp spのフォントサイズ
*/
/** --------------------------------
* 画像の縦横比を指定する関数  figureタグに付与
*
* @param $height 横幅100の時の縦の割合 *「%」で指定
*/
.pageMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
}
.pageMap .pinInfo * {
  word-break: keep-all;
  white-space: nowrap;
}
.pageMap #map {
  width: 100%;
  height: 100vh;
}
.pageMap .map__centerCurrentLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  right: 2.5%;
  bottom: 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  width: 4rem;
  height: 4rem;
  padding: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 50%;
}
@media only screen and (max-width:768px) {
  .pageMap .map__centerCurrentLocation {
    right: 5%;
  }
}
.pageMap .map__centerCurrentLocation > img {
  width: 70%;
  pointer-events: none;
}

.sidebarGooglemap__container {
  position: relative;
  z-index: 10;
  width: 27rem;
  min-width: 27rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container {
    position: fixed;
    top: calc(100% - 22rem);
    left: 0;
    width: 100%;
    min-width: none;
  }
}
.sidebarGooglemap__container.-closed {
  margin-left: calc(-1 * 27rem);
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container.-closed {
    top: 100%;
    margin-left: 0;
  }
}
.sidebarGooglemap__container .sidebarGooglemap__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 6rem;
  left: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0.8rem;
  line-height: 1;
  background-color: #0c0033;
  border-radius: 0 0.8rem 0.8rem 0;
}
.sidebarGooglemap__container .sidebarGooglemap__button:hover {
  opacity: 1;
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container .sidebarGooglemap__button {
    top: auto;
    bottom: 100%;
    left: 1rem;
    padding: 0.8rem 2rem;
    border-radius: 0.8rem 0.8rem 0 0;
  }
}
.sidebarGooglemap__container .sidebarGooglemap__button .sidebarGooglemap__buttonArrow {
  color: #ffffff;
  font-size: 1.2rem;
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container .sidebarGooglemap__button .sidebarGooglemap__buttonArrow {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
.sidebarGooglemap__container .sidebarGooglemap__button.-closed .sidebarGooglemap__buttonArrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container .sidebarGooglemap__button.-closed .sidebarGooglemap__buttonArrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.sidebarGooglemap__container .sidebarGooglemap {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: #ffffff;
  -webkit-box-shadow: 0.4rem 0 0.8rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.4rem 0 0.8rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container .sidebarGooglemap {
    height: 22rem;
    max-height: 22rem;
  }
}
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  padding: 1.6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__item:not(:last-child)::after {
  position: absolute;
  top: 100%;
  left: 50%;
  display: inline-block;
  width: calc(100% - 3.2rem);
  height: 0.1rem;
  content: "";
  background-color: #dfe2e9;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.2rem;
  }
}
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__item.-active {
  background-color: rgba(216, 237, 83, 0.2);
}
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__mapButton {
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
  width: 2.4rem;
}
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__mapButton > * {
  pointer-events: none;
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__figure .suumotable__swiperWrap {
    max-width: 12rem;
  }
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__figure .suumotable__swiperWrap .suumotable__swiperFigure {
    width: calc(12rem - 2rem);
    height: calc(12rem - 2rem);
  }
}
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__desc {
  padding-right: 3.2rem;
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__desc {
    padding-right: 0;
    padding-bottom: 3.2rem;
  }
}
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__table tr td,
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__table tr th {
  font-size: 1.2rem;
}
@media only screen and (max-width:768px) {
  .sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__table tr td,
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__table tr th {
    font-size: 1rem;
  }
}
.sidebarGooglemap__container .sidebarGooglemap .sidebarGooglemap__table tr th {
  padding-right: 0.8rem;
  font-weight: 500;
}

.pinContents table {
  margin-bottom: 0.8rem;
}
.pinContents table tr td,
.pinContents table tr th {
  padding: 0.4rem;
  vertical-align: middle;
}
.pinContents .pinContent__mapUrl {
  font-weight: 600;
  text-decoration: underline;
}

.mapFormContainer {
  padding: 2rem;
}
.mapFormContainer .mapFormContainer__title {
  margin-bottom: 2rem;
  color: #0c0033;
  font-size: clamp(2.4rem, 2.5vw, 3.2rem);
  font-weight: 600;
  text-align: center;
}
.mapFormContainer #mapForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mapFormContainer #mapForm input[name=csvfile] {
  max-width: 40rem;
  width: 100%;
}
.mapFormContainer #mapForm .vanillaForm__text {
  text-align: center;
  font-size: clamp(1.6rem, 1.40625vw, 1.8rem);
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.mapFormContainer #mapForm .vanillaForm__rowList {
  margin-bottom: 0;
}
.mapFormContainer #mapForm .mapForm__urlInput {
  width: 100%;
  font-size: clamp(1.2rem, 1.25vw, 1.6rem);
}
.mapFormContainer #mapForm .mapForm__errorText {
  margin-top: 0.4rem;
  font-size: clamp(1.2rem, 1.25vw, 1.6rem);
}
.mapFormContainer #mapForm .mapForm__buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: clamp(2.4rem, 3.125vw, 4rem);
}
.mapFormContainer #mapForm .vanillaForm__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 0.4rem;
}
.mapFormContainer #mapForm .vanillaForm__inputLabel {
  font-size: clamp(1.2rem, 1.25vw, 1.6rem);
}
.mapFormContainer #mapForm .mapForm__backButton {
  font-size: clamp(1.2rem, 1.25vw, 1.6rem);
  color: rgba(60, 63, 73, 0.6);
  margin-top: 2.4rem;
}
.mapFormContainer #mapForm.-cancel .mapForm__buttonWrap {
  margin-top: clamp(1.2rem, 1.25vw, 1.6rem);
  color: rgba(0, 0, 0, 0.5);
  font-size: clamp(1rem, 0.9375vw, 1.2rem);
}