@charset "UTF-8";
/** --------------------------------
* 引数で指定した色の明るさに応じて白か黒を出力する関数
*
* @param $color カラーコード
*/
/** --------------------------------
* cssの値を単位を除いて数字だけにしてくれる関数
*
* @param 数字と単位を含む値 10ox, 3remなど
*/
/** --------------------------------
* 値の「単位」を取得する関数
*
* @param $value 数字と単位を含む値 10ox, 3remなど
*/
/** --------------------------------
* pxやremをvwに変換してくれる関数
*
* @param $viewport pcデザインの横幅
* @param $fontSize フォントサイズ(pxでもremでも)
*/
/** --------------------------------
* フォントサイズをレスポンシブで調整する関数
*
* @param $pc pcのフォントサイズ
* @param $sp spのフォントサイズ
*/
/** --------------------------------
* 画像の縦横比を指定する関数  figureタグに付与
*
* @param $height 横幅100の時の縦の割合 *「%」で指定
*/
.mapFormContainer {
  padding: 2rem;
}
.mapFormContainer .mapForm__title {
  margin-bottom: 2rem;
  color: #0c0033;
  font-size: clamp(1.6rem, vw($pc), 2.4rem);
  font-weight: 600;
  text-align: center;
}
.mapFormContainer .mapForm .mapForm__urlInput {
  width: 100%;
  font-size: clamp(1.2rem, vw($pc), 1.6rem);
}
.mapFormContainer .mapForm .mapForm__errorText {
  margin-top: 0.4rem;
  font-size: clamp(1.2rem, vw($pc), 1.6rem);
}
.mapFormContainer .mapForm .mapForm__buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: clamp(2.4rem, vw($pc), 4rem);
}
.mapFormContainer .mapForm.-cancel .mapForm__buttonWrap {
  margin-top: clamp(1.2rem, vw($pc), 1.6rem);
  color: rgba(0, 0, 0, 0.5);
  font-size: clamp(1rem, vw($pc), 1.2rem);
}