@charset "UTF-8";
/** --------------------------------
* 引数で指定した色の明るさに応じて白か黒を出力する関数
*
* @param $color カラーコード
*/
/** --------------------------------
* cssの値を単位を除いて数字だけにしてくれる関数
*
* @param 数字と単位を含む値 10ox, 3remなど
*/
/** --------------------------------
* 値の「単位」を取得する関数
*
* @param $value 数字と単位を含む値 10ox, 3remなど
*/
/** --------------------------------
* pxやremをvwに変換してくれる関数
*
* @param $viewport pcデザインの横幅
* @param $fontSize フォントサイズ(pxでもremでも)
*/
/** --------------------------------
* フォントサイズをレスポンシブで調整する関数
*
* @param $pc pcのフォントサイズ
* @param $sp spのフォントサイズ
*/
/** --------------------------------
* 画像の縦横比を指定する関数  figureタグに付与
*
* @param $height 横幅100の時の縦の割合 *「%」で指定
*/
.pinContents table {
  margin-bottom: 0.8rem;
}
.pinContents table tr td,
.pinContents table tr th {
  vertical-align: middle;
  padding: 0.4rem;
}
.pinContents .pinContent__mapUrl {
  text-decoration: underline;
  font-weight: 600;
}

#mapWrap {
  position: relative;
}
#mapWrap .map__centerCurrentLocation {
  position: absolute;
  z-index: 100;
  bottom: 5%;
  right: 2.5%;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  padding: 0;
  -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width:768px) {
  #mapWrap .map__centerCurrentLocation {
    right: 5%;
  }
}
#mapWrap .map__centerCurrentLocation > img {
  width: 70%;
  pointer-events: none;
}

.pageMapform .pageMapform__csvForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
.pageMapform .pageMapform__csvForm input[name=csvfile] {
  max-width: 40rem;
  width: 100%;
}
.pageMapform .mapFormContainer {
  padding: 2rem;
}
.pageMapform .mapFormContainer .mapForm__title {
  margin-bottom: 2rem;
  color: #0c0033;
  font-size: clamp(1.6rem, 1.875vw, 2.4rem);
  font-weight: 600;
  text-align: center;
}
.pageMapform .mapFormContainer #mapForm .vanillaForm__rowList {
  margin-bottom: 0;
}
.pageMapform .mapFormContainer #mapForm .mapForm__urlInput {
  width: 100%;
  font-size: clamp(1.2rem, 1.25vw, 1.6rem);
}
.pageMapform .mapFormContainer #mapForm .mapForm__errorText {
  margin-top: 0.4rem;
  font-size: clamp(1.2rem, 1.25vw, 1.6rem);
}
.pageMapform .mapFormContainer #mapForm .mapForm__buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: clamp(2.4rem, 3.125vw, 4rem);
}
.pageMapform .mapFormContainer #mapForm .vanillaForm__rowItem {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pageMapform .mapFormContainer #mapForm .vanillaForm__rowItem .vanillaForm__label {
  width: 100%;
  min-width: 16rem;
}
.pageMapform .mapFormContainer #mapForm.-cancel .mapForm__buttonWrap {
  margin-top: clamp(1.2rem, 1.25vw, 1.6rem);
  color: rgba(0, 0, 0, 0.5);
  font-size: clamp(1rem, 0.9375vw, 1.2rem);
}