@charset 'UTF-8';

//____________________________
// ボタン
//____________________________
.suumoButtonType1 {
	display: inline-block;
	width: 100%;
	max-width: 32rem;
	color: $white_fff;
	font-size: 1.6rem;
	font-weight: 600;
	text-align: center;
	background-color: $suumo_primary;
	box-shadow: 0 0 0.4rem rgba($black_000, 0.4);
	border: 0.1rem solid $suumo_primary;
	border-radius: 0.4rem;

	@media #{$tab} {
		font-size: 1.4rem;
	}

	//____________________________
	// モディファイア
	//____________________________
	&.-color-reverse {
		color: $suumo_primary;
		background-color: $white_fff;
	}

	&.-small {
		padding: 0.4rem;
		font-weight: normal;
	}
}

//____________________________
// ページヘッド
//____________________________
.suumoHead {
	@include flex;
	flex-wrap: wrap;
	margin-bottom: 10rem;

	@media #{$tab} {
		margin-bottom: 6rem;
	}

	.suumoHead__title {
		color: $navy_0C0;
		font-size: 5.6rem;
		font-weight: bold;
		line-height: 1.3;

		@media #{$tab} {
			font-size: 3.2rem;
		}
	}

	.suumoHead__author {
		@include flex;
		align-items: center;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		padding-left: 1.6rem;
		margin-top: 1.6rem;
		margin-left: auto;
		color: $navy_0C0;
		font-size: 1rem;
		font-weight: bold;

		span {
			color: $pink_ea4;
		}
	}
}

//____________________________
// フレーム
//____________________________
.suumoFrame {
	position: relative;
	width: 100%;
	// height: 100%;
	min-height: 100vh;
	padding: 10% 0;

	.suumoFrameContainer {
		position: relative;
		padding: 4rem 2rem;
		background-color: rgba($white_fff, 0.8);
		box-shadow: 0 0 1.6rem rgba($black_000, 0.2);

		.pageSuumoBody {
			.pageSuumo__tableWrap {
				margin-bottom: 8rem;

				@media #{$tab} {
					margin-bottom: 4rem;
				}
			}

			.pageSuumo__buttonWrap {
				@include flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;

				gap: 2rem;
			}
		}
	}
}

//____________________________
// タイトル
//____________________________
.suumoMypageTitle {
	margin-bottom: 3.2rem;
	font-size: 2.4rem;
	font-weight: 600;

	@media #{$tab} {
		margin-bottom: 1.8rem;
		font-size: 1.8rem;
	}
}
