@charset 'UTF-8';

.pageMypage {
	@include suumo_grd;

	.tabSwitch {
		@include flex;

		.tabSwitch__labels {
			@include flex;
			flex-direction: column;
			max-width: 18rem;
			border-right: 0.1rem solid $lightgray;

			.tabSwitch__labelItem {
				width: 100%;
				background-color: transparent;

				&.-active {
					background-color: $lightgray;
				}

				.tabSwitch__labelText {
					font-size: 1.6rem;
					font-weight: 600;
					text-align: left;

					@media #{$tab} {
						font-size: 1.4rem;
					}
				}
			}
		}

		.tabSwitch__contents {
			width: 100%;
			padding: 2.4rem;
		}
	}

	.pageMypageTable {
		tr {
			td ,
			th {
				font-size: 1.6rem;
				vertical-align: middle;

				@media #{$tab} {
					font-size: 1.4rem;
				}
			}

			th {
				padding-right: 2.4rem;
				font-weight: 600;
			}

			td {
				input {
					display: inline-block;
					width: 100%;
					max-width: 32rem;
					padding: 0.4rem 0.8rem;
					font-size: 1.6rem;
					background-color: rgba($white_fff, 0.9);
					border: 0.1rem solid $lightgray;

					@media #{$tab} {
						font-size: 1.4rem;
					}
				}

				.pageMypageTable__tdText {
					padding: 0.4rem 0.8rem;
				}

				.pageMypageTable__tdHasButton {
					position: relative;

					.suumoButtonType1 {
						position: absolute;
						left: calc(100% + 0.8rem);
						max-width: 3.2rem;
						background-color: transparent;
						box-shadow: none;
						border: none;
					}
				}
			}

			&:not(:last-child) {
				td ,
				th {
					padding-bottom: 2.4rem;
				}
			}
		}

		//____________________________
		// モディファイア
		//____________________________
		&.-suumo-table-customize {
			tr {
				&:not(:last-child) {
					td ,
					th {
						padding-bottom: 0;
						vertical-align: baseline;
					}
				}
			}
		}
	}

	.pageMypageForm {
		.pageMypageForm__buttonWrap {
			@include flex;
			justify-content: flex-end;
			margin-top: 8rem;

			@media #{$tab} {
				margin-top: 5.4rem;
			}

			.suumoButtonType1 {
				max-width: 8rem;
			}
		}
	}

	.pageMypageBreak {
		position: relative;
		width: 100%;
		padding: 6.4rem 0;

		&::after {
			position: absolute;
			top: 50%;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 0.1rem;
			content: '';
			border-bottom: 0.1rem dashed $lightgray;
			transform: translate(0, -50%);
		}
	}
}
