@charset 'UTF-8';

#map {
	width: 100vw;
	height: 100vh;
}

.pinInfo {
	width: 100%;
	max-width: 30rem;
	max-height: 15rem;
	overflow: scroll;

	table {
		tr {
			td {
				padding: 0.4rem;
				white-space: nowrap;
				border: 0.1rem solid $black_000;

				&:first-child {
					font-weight: 600;
				}
			}
		}
	}
}

//____________________________
// google mapのサイドバー
//____________________________
.sidebarGooglemap__container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	max-width: 48rem;
	transition: 0.3s;

	//____________________________
	// モディファイア
	//____________________________
	&.-closed {
		transform: translateX(-100%);
	}

	.sidebarGooglemap__button {
		@include flex;
		position: absolute;
		top: 1rem;
		left: 100%;
		align-items: center;
		justify-content: center;
		padding: 2rem 0.8rem;
		line-height: 1;
		background-color: $suumo_primary;
		border-radius: 0 0.8rem 0.8rem 0;

		&:hover {
			opacity: 1;
		}

		span {
			color: $white_fff;
			font-size: 1.2rem;
		}

		&.-closed {
			span {
				transform: rotate(-180deg);
			}
		}
	}

	.sidebarGooglemap {
		max-height: 100vh;
		overflow-y: scroll;
		background-color: $white_fff;
		box-shadow: 0.4rem 0 0.8rem rgba($black_000, 0.3);

		.sidebarGooglemap__list {
			padding: 0 1.6rem;
		}

		.sidebarGooglemap__item {
			@include flex;
			gap: 1.6rem;
			padding: 1.6rem;
			transition: 0.3s;

			&:not(:last-child) {
				border-bottom: 0.1rem solid $lightgray;
			}

			///____________________________
			// モディファイア
			//____________________________
			&.-active {
				background-color: rgba($yellow, 0.2);
			}
		}

		.sidebarGooglemap__table {
			tr {
				td ,
				th {
					padding: 0 0.8rem;
					font-size: 1.2rem;
				}

				th {
					font-weight: 500;
				}
			}
		}
	}
}
