@charset 'UTF-8';

.pageSuumo {
	@include suumo_grd;

	// background-color: $lightgray;
	.suumoTableContainer {
		width: 100%;
		max-width: 100%;
		overflow: scroll;
	}

	//____________________________
	// suumo table
	//____________________________
	.suumoTable {
		width: 100%;

		thead {
			tr {
				th {
					padding: 0.6rem 1.2rem;
					color: $navy_000;
					vertical-align: middle;
					border-bottom-width: 0.2rem;

					.suumoTable__sortButtonWrap {
						button {
							position: relative;
							padding-right: 3rem;

							&::after {
								position: absolute;
								top: 50%;
								right: 1rem;
								display: inline-block;
								content: '▼';
								font-size: 60%;
								line-height: 1;
								transform: translate(0, -50%);
								opacity: 0.7;
							}
						}

						&.-desc {
							button::after {
								content: '▲';
							}
						}
					}
				}
			}
		}

		tbody {
			tr {
				transition: 0.3s;

				&:first-child {
					td {
						padding-top: 4rem;
					}
				}

				&.-data-inserted {
					background-color: rgba($green_7fc, 0.3);
				}

				td {
					padding: 0.6rem 2rem 0.6rem 1.4rem;

					a {
						text-decoration: underline;
					}
				}
			}
		}

		td ,
		th {
			font-size: responsiveValue(1.6rem, 1.2rem);
			white-space: nowrap;
			border-bottom: 0.1rem solid $lihtgray_c9c;
		}
	}

	//____________________________
	// suumo form
	//____________________________
	.suumoUrlFormContainer {
		padding: 2rem;

		.suumoUrlForm__title {
			margin-bottom: 2rem;
			color: $navy_0C0;
			font-size: responsiveValue(2.4rem, 1.6rem);
			font-weight: 600;
			text-align: center;
			;
		}

		.suumoUrlForm {
			.suumoUrlForm__urlInput {
				width: 100%;
				font-size: responsiveValue(1.6rem, 1.2rem);
			}

			.suumoUrlForm__errorText {
				margin-top: 0.4rem;
				font-size: responsiveValue(1.6rem, 1.2rem);
			}

			.suumoUrlForm__buttonWrap {
				@include flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin-top: responsiveValue(4rem, 2.4rem);
			}

			//____________________________
			// モディファイア
			//____________________________
			&.-cancel {
				.suumoUrlForm__buttonWrap {
					margin-top: responsiveValue(1.6rem, 1.2rem);
					color: rgba($black_000, 0.5);
					font-size: responsiveValue(1.2rem, 1rem);
					;
				}
			}
		}
	}
}
