
@charset 'UTF-8';
// ---------- プライマリーカラー ----------
$primary: #ff0000;
// ---------- 白、黒、グレー系 ----------
$black_000: #000000;
$black_333: #333333;
$white_fff: #ffffff;
// ---------- その他 ----------
$green_4ab: #4abdac;
$navy_0C0: #0c0033;
$navy_000: #00072b;
$pink_ea4: #ea4c89;
$green_7fc: #7fc008;

// ---------- pixel art ----------
$navy: #0c0033;
$lightgray_white: #c0c2c6;
$yellow: #db8c28;
$github_bg: #0e1117;
$commit0: #161b22;
$commit1: #0d4429;
$commit2: #016d31;
$commit3: #26a641;
$commit4: #39d353;
$black: #3c3f49;
$darkgray: #a0a4af;
$gray: #d3d7e3;
$lightgray: #dfe2e9;
$white: #f9f9fa;
$navy: #0c0033;
$indigo: #31617a;
$blue: #70dff3;
$green: #55e594;
$yellow: #d8ed53;
$orange: #eb8b67;
$pink: #e190c8;
$red: #f26e6e;
