@charset 'UTF-8';
$black: #3c3f49;
$darkgray: #a0a4af;
$gray: #d3d7e3;
$lightgray: #dfe2e9;
$white: #f9f9fa;
$navy: #0c0033;
$indigo: #31617a;
$blue: #70dff3;
$green: #55e594;
$yellow: #d8ed53;
$orange: #eb8b67;
$pink: #e190c8;
$red: #f26e6e;
