@charset 'UTF-8';

button {
	display: block;
}

a {
	text-decoration: underline;
}

// ---------- ボタン ----------
.pageSuumo__button {
	display: inline-block;
	width: 100%;
	max-width: 32rem;
	color: $white_fff;
	font-size: 1.6rem;
	font-weight: 600;
	text-align: center;
	background-color: $navy_0C0;
	box-shadow: 0 0 0.4rem rgba($black_000, 0.4);
	border: none;
	border-radius: 0.4rem;

	@media #{$tab} {
		font-size: 1.4rem;
	}
}

// ---------- ハンバーガーメニュー ----------
.hamburger_wrap .hamburger {
	background-color: $navy;
}

// ---------- モーダル ----------
.modalWrap {
	.modal__targetContent {
		display: none;
		width: unquote('min(48rem, 90vw)');
		padding: 1.6rem;
		margin: 0 auto;
		background-color: $white_fff;

		&[data-target-modal='suumo__form'] {
			width: unquote('min(48rem, 90vw)');
			margin: 0 auto;
			background-color: $white_fff;
		}

		&[data-target-modal='suumotable__swiper'] {
			max-width: 80rem;
			// max-height: 60rem;
			margin: auto;

			.suumotable__swiperWrap {
				$modal_swiper_width_pc: 100%;
				$modal_swiper_width_sp: 100%;
				max-width: $modal_swiper_width_pc;

				@media #{$tab} {
					max-width: $modal_swiper_width_sp;
				}

				.suumotable__swiperMagnifiy {
					display: none;
				}

				.swiper-wrapper {
					align-items: center;
				}

				.suumotable__swiperFigure {
					width: calc(#{$modal_swiper_width_pc} - 4rem);
					height: calc(#{$modal_swiper_width_pc} - 4rem);

					@media #{$tab} {
						width: calc(#{$modal_swiper_width_sp} - 4rem);
						height: calc(#{$modal_swiper_width_sp} - 4rem);
					}
				}

				.suumotable__swiperButton {
					&::before {
						font-size: 3.2rem;

						@media #{$tab} {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}
}

// ---------- スライダー ----------
.suumotable__swiperWrap {
	$swiper_width_pc: 20rem;
	$swiper_width_sp: 10rem;
	position: relative;
	max-width: $swiper_width_pc;
	overflow: hidden;
	user-select: none;

	&:hover {
		.suumotable__swiperMagnifiy {
			opacity: 0.8;
		}
	}

	@media #{$tab} {
		max-width: $swiper_width_sp;
	}

	.suumotable__swiperMagnifiy {
		position: absolute;
		right: 0.8rem;
		bottom: 0.8rem;
		z-index: 10;
		width: 3rem;
		transition: 0.3s;
		cursor: pointer;
		opacity: 0;

		@media #{$tab} {
			bottom: 0;
			width: 2rem;
			opacity: 0.8;
		}

		&:hover {
			opacity: 1;
		}
	}

	.swiper-slide {
		@include flex;
		align-items: center;
		justify-content: center;
	}

	.suumotable__swiperFigure {
		@include flex;
		align-items: center;
		justify-content: center;
		width: calc(#{$swiper_width_pc} - 4rem);
		height: calc(#{$swiper_width_pc} - 4rem);

		@media #{$tab} {
			width: calc(#{$swiper_width_sp} - 2rem);
			height: calc(#{$swiper_width_sp} - 2rem);
		}

		& > img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.suumotable__swiperButton {
		position: absolute;
		top: 50%;
		left: 0;
		width: auto;
		height: auto;
		transform: translateY(-50%);

		&::before {
			display: inline-block;
			color: $navy;
			content: '◀︎';
		}

		&.swiper-button-next {
			right: 0;
			left: auto;

			&::before {
				content: '▶︎';
			}
		}
	}
}
