@charset 'UTF-8';

.pageLogin {
	position: relative;
	width: 100vw;
	height: 100vh;


	.pageLoginForm__container {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width: 60rem;
		padding: 4rem 2.4rem;
		background-color: $white;
		box-shadow: 0 0 1rem rgba(black, 0.2);
		border-radius: 0.4rem;
		transform: translate(-50%, -50%);

		backdrop-filter: blur(12px);

		.wpmem_msg {
			width: 100%;

			strong {
				&:first-child {
					color: red;
				}
			}
		}

		#wpmem_login {
			width: 100%;

			input {
				background-color: transparent;
			}

			.button_div {
				// @include flex;
				// align-items: center;
				// flex-direction: column;
			}

			* {
			}
		}
	}
}
