@charset 'UTF-8';

@import 'configuration';

@import 'base';

@import 'modifier';

//____________________________
// ヘッダー
//____________________________
.headerWrap {
	.header {
		position: fixed;
		top: 0;
		z-index: 9000;
		width: 100%;

		// background: linear-gradient(to bottom, $primary 0%, rgba($primary, 0.9) 90%, transparent 100%);

		@media #{$tab} {
			padding: 1.6rem 0 ;
		}

		.header__flex {
			@include flex;
			justify-content: space-between;

			// ---------- ロゴ ----------
			.header__logo {
				@include flex;
				align-items: center;
				max-width: responsiveValue(30rem, 20rem);
				margin-right: 2.4rem;

				.header__logoImg {
					width: 100%;
					vertical-align: middle;
				}
			}

			// ---------- メニュー ----------
			.header__navWrap {
				&.-pc {
					@media screen and (max-width: 960px) {
						display: none;
					}
				}

				&.-sp {
					// display: none;
				}

				.header__nav {
					@include flex;
					-ms-flex-pack: justify;
					justify-content: space-between;
					height: 100%;

					& > .menu-item {
						@include flex;
						position: relative;
						align-items: center;
						-ms-flex-align: center;
						-ms-flex-pack: center;
						justify-content: center;
						padding: 1.8rem 0;
						margin-right: responsiveValue(2.5rem, 1.5rem);

						-webkit-box-align: center;
						-webkit-box-pack: center;

						> a {
							padding-bottom: 0rem;
						}

						&.current-menu-item > a {
							border-bottom: 0.3rem solid $black_000;
						}

						&.-entry {
							a {
								width: 14rem;
								padding: 0.8rem;
								margin-right: 0;
								text-align: center;
								border: 1px solid $black_000;
								border-radius: 10rem;
							}
						}

						a {
							font-size: responsiveValue(1.5rem, 1rem);
							font-weight: 600;
						}

						.sub-menu {
							position: absolute;
							top: calc(100% - 2rem);
							left: 0;
							display: none;
							width: 18rem;
							max-width: 18rem;
							padding: 1.4rem 1.1rem;
							background-color: $black_000;

							&.-active {
							}

							.menu-item {
								display: block;
								width: auto;
								padding: 0;
								margin-right: 0;

								&:not(:last-child) {
									margin-bottom: 1.6rem;
								}

								& > a {
									color: $white_fff;
									font-size: 1.5rem;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}
	}
}
