@charset 'UTF-8';

@import 'configuration';

@import 'base';

@import 'modifier';

//____________________________
// 全ページ共通のスタイル
// このページには全ページ共通のスタイルを記述して下さい。 コンポーネントなどサイトを通じて2回以上登場するスタイルがあればそちらもこのファイルに記述して下さい。
//____________________________
// ---------- hhtml ----------
html {
	overflow: scroll;
	color: $black_333;
	font-size: 62.5%;
	background-color: $white_fcf;
}

body {
	color: $black_333;
	font-family: 'Noto Sans JP', sans-serif;
	line-height: 1.5;
	letter-spacing: 0.04em;
	background-color: $white_fcf;
}

#top {
	overflow: hidden;
}

// ---------- インナー ----------
.inner {
	width: 100%;
	max-width: calc(1024px + 3.2rem);
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	margin: 0 auto;

	&.-wide {
		max-width: calc(1200px + 3.2rem);
	}

	&.-tight {
		max-width: calc(960px + 3.2rem);
	}
}
