@charset 'UTF-8';

//____________________________
// suumo form
//____________________________
.mapFormContainer {
	padding: 2rem;

	.mapForm__title {
		margin-bottom: 2rem;
		color: $navy_0C0;
		font-size: responsiveValue(2.4rem, 1.6rem);
		font-weight: 600;
		text-align: center;
		;
	}

	.mapForm {
		.mapForm__urlInput {
			width: 100%;
			font-size: responsiveValue(1.6rem, 1.2rem);
		}

		.mapForm__errorText {
			margin-top: 0.4rem;
			font-size: responsiveValue(1.6rem, 1.2rem);
		}

		.mapForm__buttonWrap {
			@include flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-top: responsiveValue(4rem, 2.4rem);
		}

		//____________________________
		// モディファイア
		//____________________________
		&.-cancel {
			.mapForm__buttonWrap {
				margin-top: responsiveValue(1.6rem, 1.2rem);
				color: rgba($black_000, 0.5);
				font-size: responsiveValue(1.2rem, 1rem);
				;
			}
		}
	}
}
