html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 62.5%;
}

html:root {
  --navy-color: #0e2290;
  --palePurple-color: #e5dcf4;
  --primary-color: #733fc7;
  --white-color: #ffffff;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.post.type-post a,
.post.type-post p,
.post.type-post li,
.post.type-post dd,
.post.type-post td,
.post.type-post pre,
.post.type-post strong,
.post.type-post em {
  font-size: 1.6rem;
}

@media only screen and (max-width: 480px) {
  .post.type-post a,
  .post.type-post p,
  .post.type-post li,
  .post.type-post dd,
  .post.type-post td,
  .post.type-post pre,
  .post.type-post strong,
  .post.type-post em {
    font-size: 1.2rem;
  }
}

.post.type-post h1 {
  padding: 1.5rem 0;
  margin: 0.67em 0;
  color: var(--primary-color);
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .post.type-post h1 {
    font-size: 2.4rem;
  }
}

.post.type-post h2 {
  padding: 0.5em;
  margin: 2.5em 0 1em;
  font-size: 2.6rem;
  line-height: 1.6;
  background: var(--palePurple-color);
  border-left: 10px solid var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .post.type-post h2 {
    font-size: 2.2rem;
  }
}

.post.type-post h3 {
  position: relative;
  padding: 1rem 0 0.2rem 1rem;
  margin: 0.6em 0;
  font-size: 2.6rem;
  line-height: 1.5;
  border-bottom: solid 3px var(--palePurple-color);
}

@media only screen and (max-width: 768px) {
  .post.type-post h3 {
    font-size: 2.2rem;
  }
}

.post.type-post h3:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 20%;
  content: ' ';
  border-bottom: 3px solid var(--primary-color);
}

.post.type-post h4 {
  position: relative;
  padding: 1rem 0 0.2rem 1rem;
  margin: 0.6em 0;
  color: #000000;
  font-size: 2.4rem;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .post.type-post h4 {
    font-size: 2rem;
  }
}

.post.type-post h5 {
  position: relative;
  padding: 1rem 0;
  padding: 1rem 2rem;
  margin: 0.5em 0;
  font-size: 2.2rem;
  line-height: 1.5;
  border-top: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .post.type-post h5 {
    font-size: 1.8rem;
  }
}

.post.type-post h6 {
  margin: 0.3em 0;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .post.type-post h6 {
    font-size: 1.8rem;
  }
}

.post.type-post p {
  font-size: 1.6rem;
  line-height: 2;
}

.post.type-post img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  margin: 2.4rem 0;
  vertical-align: middle;
}

.post.type-post blockquote {
  position: relative;
  padding: 1.3rem 1.5rem 1.3rem 5rem;
  background-color: #dddddd;
}

.post.type-post blockquote::before {
  position: absolute;
  top: 20px;
  left: 15px;
  display: inline-block;
  color: var(--primary-color);
  content: '\f10d';
  font-family: FontAwesome;
  font-size: 25px;
  line-height: 1;
  vertical-align: middle;
}

.post.type-post blockquote p {
  padding: 0;
  margin-top: 10px;
  line-height: 1.7;
}

.post.type-post ul {
  list-style: disc;
}

.post.type-post ol {
  list-style: decimal;
}

.post.type-post ul,
.post.type-post ol {
  padding: 1.5em;
  margin-bottom: 1.5em;
  border: solid 2px #dddddd;
}

.post.type-post ul li,
.post.type-post ol li {
  margin-left: 1.6em;
  font-size: 1.6rem;
  list-style: inherit;
}

@media only screen and (max-width: 480px) {
  .post.type-post ul li,
  .post.type-post ol li {
    font-size: 1.2rem;
  }
}

.post.type-post ul li::marker,
.post.type-post ol li::marker {
  color: var(--primary-color);
  marker-offset: 0;
}

.post.type-post ul li ul,
.post.type-post ol li ul,
.post.type-post ul li ol,
.post.type-post ol li ol {
  padding: 0;
  margin-bottom: 0.5em;
  border: none;
}

.post.type-post a {
  text-decoration: underline;
}

.post.type-post .wp-block-image img {
  margin: 0;
}

.post.type-post .wp-block-image .aligncenter.is-resized {
  display: block;
  margin: 0;
}

.post.type-post .wp-block-image .aligncenter.is-resized img {
  width: 100%;
}

.midmaru {
  background: #fbeed6;
}

.article-footer {
  display: none;
}
/*# sourceMappingURL=style.css.map */