@charset 'UTF-8';
//____________________________
// カラーコード
//____________________________
$navy: #0c0033;
$lightgray_white: #c0c2c6;
$yellow: #db8c28;
$github_bg: #0e1117;
$commit0: #161b22;
$commit1: #0d4429;
$commit2: #016d31;
$commit3: #26a641;
$commit4: #39d353;
