@charset 'UTF-8';

//____________________________
// ピクセルアートの年選択
//____________________________
.pixelartdateFormContainer {
	margin-bottom: 4rem;

	.pixelartdateForm {
		@include flex;
		justify-content: center;
	}

	.pixelartdateForm__text {
		margin-bottom: 1.6rem;
		font-weight: 600;
	}

	.ulSelectWrap {
		.pixelartdateForm__select {
			padding: 0.4rem 0.8rem;
			padding-right: 0;
			font-size: 1.6rem;
		}
	}
}

//____________________________
// ピクセルアートの色選択
//____________________________
.pixelartColorsContainer {
	.pixelartColors__text {
		margin-bottom: 1.6rem;
		font-weight: 600;
		text-align: center;
	}

	.pixelartColors {
		@include flex;
		position: relative;
		gap: 1.6rem;
		padding: 0 1.6rem;
		margin-bottom: 4rem;

		@media #{$tab} {
			flex-wrap: wrap;
			gap: 0;
			margin-bottom: 2.4rem;
		}
	}

	.pixelartColor__input {
		position: absolute;
		opacity: 0;
	}

	.pixelartColor__label {
		position: relative;
		width: 25%;
		height: 4rem;
		border: 0.3rem solid $white;
		border-radius: 0.4rem;

		@media #{$tab} {
			width: 32%;
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			display: inline-block;
			color: $white;
			font-weight: 600;
			transform: translate(-50%, -50%);
		}
	}

	.pixelartColor__input:checked + .pixelartColor__label {
		border: 0.3rem solid $blue;

		&::after {
			content: '選択中';
		}
	}
}

//____________________________
// ピクセルアートのテーブル
//____________________________
.pixelartTableContainer {
	max-width: 100%;
	padding: 4rem;
	overflow: scroll;
	background-color: $github_bg;

	.pixelartTable {
		@include flex;
		gap: 0.4rem;
	}

	.pixelartTable__row {
		@include flex;
		flex-direction: column;
		gap: 0.4rem;
	}

	.pixelartTable__cell {
		position: relative;
		width: 3rem;
		height: 3rem;
		background-color: $lightgray;
		border-radius: 0.4rem;

		&:hover {
			box-shadow: 0 0 0.4rem rgba($gray, 0.4);
			cursor: pointer;

			.pixelartTable__cellDate {
				display: block !important;
			}
		}

		&[data-contribution-count='0'] {
			background-color: $commit0;
		}

		&[data-contribution-count='1'] {
			background-color: $commit1;
		}

		&[data-contribution-count='2'] {
			background-color: $commit2;
		}

		&[data-contribution-count='3'] {
			background-color: $commit3;
		}

		&[data-contribution-count='4'] {
			background-color: $commit4;
		}

		&.-hidden {
			opacity: 0;
			pointer-events: none;
		}
	}

	.pixelartTable__cellDate {
		position: absolute;
		bottom: 100%;
		left: 50%;
		z-index: 10;
		display: none;
		max-width: 10rem;
		padding: 0.4rem;
		background-color: $white;
		border-radius: 0.4rem;
		transform: translateX(-50%);
		pointer-events: none;
	}
}
