@charset 'UTF-8';

.pagePixelart {
	.pagePixelart__buttonWrap {
		@include flex;
		gap: 2.4rem;
		justify-content: center;
		margin-top: 8rem;
	}

	.pixelart__currentDate {
		height: 2em;
	}

	textarea {
		width: 100%;
	}
}
